.about{
  padding-top: 40px;
  &__title{
    @include title;
    margin-bottom: 40px;
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
  }
  &__img{
    width: 49%;
    img{
      width: 100%;
    }
  }
  &__text{
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__contacts{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #00111A;
  padding: 45px 55px;
  &__title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__descr{
    color: rgba($color: #fff, $alpha: 0.5);
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.contact-us{
  text-align: center;
  &__title{
    position: relative;
    @include title;
    margin-bottom: 20px;
    &::after{
      width: 100px;
      height: 20px;
      content: '';
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
      background: url('@/img/about/style_1.png') center/100% no-repeat;
    }
  }
  &__tel, &__mail{
    font-family: Open Sans,sans-serif;
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #000;
    transition: .2s;
    &:hover{
      color: $primary-color;
    }
  }
}
.partners{
  padding-top: 70px;
  padding-bottom: 70px;
  &__title{
    @include title;
    margin-bottom: 80px;
  }
  &__wrap{
    width: 100%;
    min-height: 100px;
    display: grid;
    grid-template:  100px /repeat(5, 1fr) ;
    gap: 10px;
  }
  &__item{
    border: 1px solid #ccc;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.memories{
  width: 100%;
  height: 100vh;
  background-image: url('@/img/about/image-6.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  &__wrap{
    position: absolute;
    height: 400px;
    width: 400px;
    top: 50%;
    transform: translateY(-50%);
    left: 70%
  }
  &__title{
    @include title;
    color: #fff;
    margin-bottom: 40px;
    text-align: left;
    font-size: 50px;
  }
  &__descr{
    color: rgba($color: #fff, $alpha: 0.5);
    font-size: 18px;
    font-family: open sans, sans-serif;
  }
  &__button{
    display: inline-block;
    padding: 20px 50px;
    margin-top: 50px;
    border:1px solid #fff;
    color: #fff;
    transition: .2s;
    font-size: 18px;
    background: none;
    &:hover{
      background: #fff;
      color: #000;
    }
  }

}
.history{
  padding-top: 70px;
  &__wrap{
    min-height: 600px;
    background-color: #f1f3f2;
    display: flex;
  }
  &__block{
    width: 50%;
    padding: 60px 100px;
  }
  &__img{
    width: 100%;
    background-image: url('@/img/about/history-1.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    
  }
  &__title{
    @include title;
    margin-bottom: 20px;
    text-align: left;
  }
  &__descr{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
  }
  &__years{
    display: flex;
    padding: 10px 15px;
    background-color: #00111A;
    width: 280px;
    margin-bottom: 40px;
  }
  &__year{
    text-align: center;
    width: 70px;
    color: #fff;
    font-style: italic;
    font-size: 22px;
    &--active{
      position: relative;
      z-index: 2;
      &::before{
        position: absolute;
        z-index: -1;
        content: '';
        height: 40px;
        width: 5px;
        background-color: $primary-color;
        left: 50%;
        transform: translate(-50%);
        transform: rotate(45deg);
        top: -6px;
      }
    }
  }
  &__text{
    font-family: open sans, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
}

.instagram{
  padding-top: 60px;
  padding-bottom: 100px;
  &__title{
    font-weight: normal;
    text-align: left;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 40px;
  }
  &__wrap{
    display: flex;
  }
  &__item{
    overflow: hidden;
    width: 20%;
      img{
        transition: .4s;
        height: 100%;
        width: 100%;
        overflow: hidden;
        &:hover{
          transform: scale(1.1);
        }
    }
  }
}