.posts{
  @include bg-black;
  min-height: 420px;
  &__wrap{
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
  }
  &__title{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
  }
  .article{
    width: 250px;
    position: relative;
    z-index: 2;
    &__date{
      position: absolute;
      left: 0;
      top: -100px;
      color: $dark-bg;
      display: flex;
      align-items: center;
      z-index: 1;
    }
    &__day{
      font-size: 150px;
      font-weight: 900;
    }
    &__month{
      font-size: 22px;
      font-weight: 900;
      text-transform: uppercase;
    }
    &__content{
      position: relative;
      z-index: 10;
      color: #fff;
    }
    &__title{
      font-weight: bold;
      font-size: 25px;
    }
    &__descr{
      font-family: open sans, sans-serif;
      margin-top: 10px;
     opacity: .5; 
    }
    &__button{
      margin-top: 10px;
      border:none;
      color: $primary-color;
      background-image: transaparent;
      font-style: italic;
      font-weight: bold;
      font-size: 14px;
      background-color: #000;
      text-transform: capitalize;
      transition: 0.2s;
      &:hover{
        color:#fff;
      }
    }
  }
}

.blog{
  padding-top: 40px;
  padding-bottom: 40px;
  &__title{
    @include title;
    margin-bottom: 40px;
  }
  .article{
    height: 100vh;
    display: flex;
    align-items: center;
    &:nth-child(even) .article__content{
      order: 2;
    }
    &__content{
      width: 50%;
      padding: 0 100px;
    }
    &__title{
      margin-bottom: 40px;
      &:hover{
        color: $primary-color;
      }
      h3{
        font-size: 36px;
        text-transform: uppercase;
        font-style: italic;
        text-align-last: left;
        transition: .4s;
        font-weight: 500;
      }
    }
    &__date{
      text-transform: uppercase;
      font-size: 14px;
      font-family: open sans, sans-serif;
      color: rgba($color: #000000, $alpha: 0.7);
      margin-bottom: 20px;
    }
    &__text{
      font-size: 18px;
      font-family: open sans, sans-serif;
      color: rgba($color: #000000, $alpha: 0.5);
      margin-bottom: 20px;
    }
    &__button{
      @include button;
      text-transform: capitalize;
      &:hover{
        color: #fff;
        background-color: $primary-color;
      }
    }
    &__img{
      width: 50%;
      background-color: #000;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
