.header{
  @include bg-black;

  position: relative;
  &__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__nav{
    width: 100%;
    margin-top: 35px;
  }
}
.menu{
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  &__item{
    list-style: none;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 36px;
    a{
      color:#fff;
      text-decoration: none;
      transition: .5s;
      &:hover{
        color: $primary-color;
      }
    }
  }
}
.cart-header{
  position: absolute;
  color: #fff;
  top: 20px;
  right: 20px;
  display: flex;
  width: 250px;
  justify-content: space-around;
  &__sum{
    color: $primary-color;
  }
}