.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.9);
  z-index: 10;
  
  
}
.galery-modal{
  &__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    margin: 0 auto;
    margin-top: 20px;
    @include title;
    color: #fff;
    margin-bottom: 20px;
  }
  &__img{
    height: 800px;
    margin: 0 auto;
    img{
      object-fit:scale-down;
      width: 100%;
      height: 100%;
    }
  }
  &__close{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    span{
      transition: .2s;
      position: absolute;
      height: 50px;
      width: 4px;
      background-color: #fff;
    }
  }
}
.order-modal{

  &__wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    // border: 1px solid $primary-color;
  }
  &__price{
    margin-top: 20px;
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    color: $primary-color;
  }
}
#first{
  transform: rotate(45deg);
}
#second{
  transform: rotate(-45deg);
}
.modal__close:hover {
  span{
    background-color: #aaa;
  }
}
.get-card-modal{
  &__wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
}