
.promo{
  @include bg-black;
  min-height: 600px;
  padding-top: 50px;
  &__carousel{
    width: 100%;
    height: 450px;
    background: $dark-bg;
  }
}

.carousel{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  &__item{
    padding: 0 100px;
    height: 450px;
    display: flex;
    justify-content: center;
  }
  &__img-content {
    animation-name: fade;
    animation-duration: 1.5s;
    width: 450px;
  }
  &__text-content{
    padding-top: 30px;
  }
  &__title{
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    margin-top: 40px;
    &--big{
      font-size: 100px;
      line-height: 100px;
    }
    span{
      font-size: 80px;
      line-height: 0;
    }
  }
  &__descr{
    color: rgba($color: #fff, $alpha: 0.5);
    font-family: Open Sans, 'sans-serif';
    font-weight: bold;
    margin-top: 10px;
  }
  &__button{
    @include button;
    margin-top: 50px;
  }
}
.arrow{
  // box-sizing: content-box;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #fff;
  border-radius: 2px;
  border-top: none;
  padding: 10px;
  transition: border .2s ease-in;
  &:hover{
    border-color: $primary-color;

  }
  &__left{
    left: 20px;
    border-right: none;
    transform: rotate(45deg);
  }
  &__right{
    right: 20px;
    border-left: none;
    
    transform: rotate(-45deg);
  }
}
@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}