.store{
  padding-top: 20px;
  padding-bottom: 20px;
  &__title{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
  }
  &__nav{
    margin: 0 auto;
    width: 800px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  &__nav-item{
    width: 115px;
    height: 28px;
    line-height: 28px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 16px;
    color: rgba($color: #000000, $alpha: 0.5);
    text-transform: uppercase;
    text-align: center;
    border: 1px solid rgba(0,0,0, 0.5);
    transition: .2s;
    &:hover{
      background-color: $primary-color;
      color: #fff;
      border-color: $primary-color;
    }
  }
  &__grid{
    margin-top: 80px;
    display: grid;
    grid-template: repeat(4, 270px) /repeat(4, 1fr);
    gap: 30px;
  }
  &__item{
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    img{
      width: 100%;
      height: 100%;
      transition: .4s;
    }
    &:hover {
      img{
        transform: scale(1.1);
      }
      .store__content{
        opacity: 1;
        visibility: visible;
      }
      
    }
  }
  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title{
    color: #000;
    margin-bottom: 10px;
  }
  &__price{
    color: $primary-color;
    margin-bottom: 10px;
  }
  &__button{
    border: none;
    padding: 5px 20px;
    color: #fff;
    background-color: $primary-color;
    text-transform: capitalize;
    transition: .4s;
    &:hover{
      color: $primary-color;
      background-color: #fff;
    }
  }

}
.active{
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
}