.tiles{ 
  min-height: 600px;
  @include bg-black;
  &__wrap{
    display: grid;
    grid-template: repeat(4, 216px) /  repeat(3, 1fr);
    gap: 30px;
  }
}
.tile{
  background: white;
  background-size: cover;
  position: relative;
  transition: .2s;
  &:hover{
    transform: scale(0.97);
  }
  &__inner{
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  &__title{
    position: absolute;
    font-size: 46px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
  }
  &__descr{
    position: absolute;
    font-family: Open Sans;
    font-size: 16px;
    color: #fff;
    opacity: .5;
    text-decoration: none;
    text-transform: uppercase;
  }
}

#watches{
  background-image: url('@/img/tiles/banner_1.jpg');
  grid-row: 1/3;
  grid-column: 1/3;
  .tile__title{
    top: 355px;
    left: 525px;
  }
  .tile__descr{
    top: 330px;
    left: 525px;
  }
  
}
#necklaces{
  background-image: url('@/img/tiles/banner_5.jpg');
  grid-row: 1/3;
  .tile__title{
    text-align: center;
    font-size: 42px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .tile__descr{
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
}
#earings {
  background-image: url('@/img/tiles/banner_2.jpg');
  grid-row: 3/5;
  .tile__title{
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
  .tile__descr{
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}
#for-him{
  background-image: url('@/img/tiles/banner_3.jpg');
  grid-column: 2/4;
  .tile__title{
    left: 500px;
    top: 50%;
    transform: translateY(-50%);
  }
  .tile__descr{
    top: 50px;
    left: 550px;
  }
}
#accesories{
  background-image: url('@/img/tiles/banner_4.jpg');
  grid-column: 2/4;
  .tile__title{
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
  }
  .tile__descr{
    top: 50px;
    left: 200px;
  }
}

.rings{
  @include bg-black;
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  &__wrap{
    padding-top: 130px;
    padding-left: 200px;
    width: 100%;
    height: 610px;
    background-image: url('@/img/intro-1.jpg');
    background-size: contain;
  }
  &__title{
    color: #fff;
    font-size: 46px;
    font-weight: normal;
    text-transform: uppercase;
  }
  &__descr{
    text-transform: uppercase;
    font-size: 22px;
    font-family: open sans;
    opacity: .5;
    color: #fff;
    width: 400px;
    display: block;
    margin-top: 15px;
    line-height: 30px;
  }
  &__button{
    position: relative;
    @include button;
    margin-top: 50px;
    text-align: left;
    padding-left: 15px;
    border-color: #fff;
    color: #fff;
    &:after{
      position: absolute;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      width: 30px;
      height: 30px;
      background-image: url('@/img/triangles.svg');
      background-size: cover;
    }
    &:hover{
      background: #fff;
      color: #000;
    }
  }
}
