@mixin bg-black {
  background-color: #000;
}
@mixin button {
  width: 180px;
  height: 60px;
  font-style: italic;
  font-size: 18px;
  border: 1px solid $primary-color;
  background-color: transparent;
  color: $primary-color;
  transition: .5s;
  &:hover{
    border-color: #fff;
    color: #fff
  }
}
@mixin arrow {
  position: absolute;
  width: 53px;
  height: 43px;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
}
@mixin title {
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
}