@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './core/variables';
@import './core/mixines';
@import './components/header';
@import './components/promo';
@import './components/tiles';
@import './components/bestsellers';
@import './components/getcard';
@import './components/blog';
@import './components/footer';
@import './components/gallery';
@import './components/store';
@import './components/contacts';
@import './components/about';
@import './components/404';
@import './components/modal';
@import './components/cart';
@import './components/articles';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Playfir Display;
}

.container{
  margin: 0 auto;
  width: 1170px;
}
